@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background: #1a1a1c;
  color: #d7d7d7;
  text-decoration: none;
}

.app-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #d7d7d7;
}

.currency-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  background-image: linear-gradient(-255deg, #272924 0%, #49502b 48%, #4f6820 100%);
  color: #d7d7d7;
}

.currency-input::placeholder {
  color: #d7d7d7;
}

.currency-container {
  display: flex;
  justify-content: center;
}

.currency-search {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 20px;
}

.arrow {
  width: 15px;
  height: 15px;
}

img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.currency-symbol {
  text-transform: uppercase;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

td, tr {
  padding: 15px 30px;
}

thead {
  text-transform: capitalize;
  font-weight: 800;
}

.intro {
  margin-bottom: 50px;
  margin-top: 50px;
  width: 50%;
}

select {
  margin-left: 20px;
}

span {
  font-weight: 700;
}

.container {
  text-align: center;
}

.description {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 15%;
  width: 85%;
}

.navBar {
  display: flex;
  padding-left: 15%;
  padding-top: 2%;
  font-weight: 800;
  text-transform: uppercase;
}

.details {
  text-transform: uppercase;
}

span:hover {
  color: gray;
}

.detailsTable {
  table-layout: fixed;
  width: 100%;
}

.endOfPage {
  padding-bottom: 10%;
}

.generalInfo {
  padding-bottom: 4%;
}
